//colors
$c-white: #fff;
$c-black: #000;
$c-light-grey: #e9e9e9;
$c-dark-grey: #4e4d4d;
$c-cyan: #0dcaf0;
$c-blue: #5367f8;

//loader colors
$c-loadre-1: #000;
$c-loadre-2: #252525;
$c-loadre-3: #1a1a1a;

// font families
$font-primary-regular: 'PoppinsRegular', sans-serif;
$font-primary-bold: 'PoppinsBold', sans-serif;
$font-secondary-regular: 'RobotoRegular', sans-serif;
$font-secondary-bold: 'RobotoBold', sans-serif;

// font-sizes
$fsz-1: 10px;
$fsz-2: 16px;
$fsz-3: 18px;
$fsz-4: 20px;
$fsz-5: 22px;
$fsz-6: 26px;
$fsz-7: 50px;
$fsz-8: 72px;

//z-indexes
$z-index-primary: 1;
$z-index-secondary: 2;
$z-index-third: 3;

//transition durations
$main-duration: 400ms;
$secondary-duration: 600ms;
